body{
    background-color: rgba(251, 255, 6, 0.568);
   
}
h1{
    border: 5px solid green;
    color: green;
    font-family: 'Oswald', sans-serif;
   border-radius: 1px;
   margin:1%;
   background-color:rgb(0, 0, 0);
   
}
p{
    color: green;
    font-family: 'Oswald', sans-serif;
   margin: 1%;
   border: 5px solid green;
   background-color: white;
}
a{
    color: green;
}
.styling{
    border:2px solid green;
    margin-right: 200px;
}
img{
    border: 2px solid green;

    
}
li{

    color: green;
}
ul{
    color: green;
}
h4{
    color: green;
    font-family: 'Oswald', sans-serif;
    border: 5px solid green;
}
.ordered list,
li{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}
ul.sb3{
    display: inline-block;
    text-align: center;
}
tr,
table,
td,
th{
color: rgb(0, 0, 0);
font-family: 'Oswald', sans-serif;
border: 1px solid rgb(0, 255, 42);
border-collapse: collapse;
padding: 15px;
}
.tenor-gif-embed{
border: 2px solid rgb(0, 0, 0);
}
.border{
margin-left: 500%;
padding-left: 50%;

}
.background1{
    background-color: rgb(0, 0, 0);

}
.background2{
    background-color: rgb(0, 0, 0);
}
.background3{
    background-color:rgb(0, 0, 0) ;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sbflex-container{
flex-direction:row;
display: flex;
justify-items: center;
margin:1%;
background-color: green;
margin-right:  2000px;
margin-left: 22%;
}
